---
import Page from '../layouts/Page.astro'
import {getPosts, isoDate, shortDate} from '../lib/utils'
const posts = await getPosts()
---

<style>
  ul.posts li {
    margin-bottom: var(--space6);

    header {
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }

    p.excerpt {
      margin-bottom: var(--space1_5);
    }

    footer {
      font-family: var(--metaFont);
      font-size: var(--metaSmFontSize);
      margin-top: var(--space1);
    }
  }
</style>

<Page title="Amy Griffis" logoLink="">
  <ul class="posts">
    {
      posts
        .filter(({data: {index}}) => index)
        .map(({slug, data: {title, excerpt, created, updated}}) => (
          <li>
            <header>
              <h1 class="h3">
                <a href={`/${slug}`}>{title}</a>
              </h1>
            </header>
            {excerpt && <p class="excerpt">{excerpt}</p>}
            {created && (
              <footer>
                <time datetime={isoDate(created)}>{shortDate(created)}</time>
                {
                  // prettier-ignore
                  updated && <>{' '}(updated: <time datetime={isoDate(updated)}> {shortDate(updated)}</time>)</>
                }
              </footer>
            )}
          </li>
        ))
    }
  </ul>
</Page>
