---
import {Image} from 'astro:assets'
import Markdown from '../components/Markdown.astro'
import Media from '../components/Media.astro'
import Page from '../layouts/Page.astro'
import {getPosts, isoDate, shortDate} from '../lib/utils'
const posts = await getPosts()
const rendered = await Promise.all(posts.map(p => p.render()))
---

<style>
  ul.posts li {
    margin-bottom: var(--space6);

    header {
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }

    footer {
      font-family: var(--metaFont);
      font-size: var(--metaSmFontSize);
      margin-top: var(--space1);
    }
  }
</style>

<Page title="Amy Griffis" logoLink="">
  <ul class="posts">
    {
      posts.map(({slug, data: {title, image, created, updated}}, i) => {
        const {Content} = rendered[i]
        return (
          <li>
            {title && (
              <header>
                <h1 class="h3">
                  <a href={`/${slug}`}>{title}</a>
                </h1>
              </header>
            )}
            {image && (
              <Media>
                <Image src={image} alt="" />
              </Media>
            )}
            {
              <Markdown>
                <Content />
              </Markdown>
            }
            {created && (
              <footer>
                <time datetime={isoDate(created)}>{shortDate(created)}</time>
                {
                  // prettier-ignore
                  updated && <>{' '}(updated: <time datetime={isoDate(updated)}> {shortDate(updated)}</time>)</>
                }
              </footer>
            )}
          </li>
        )
      })
    }
  </ul>
</Page>

<style>
  .posts img {
    height: auto;
    max-width: 100%;
  }
</style>
